<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1>Эта страница hello</h1>
<p>Для проходимцев доступно только:</p>
<p>Click <a th:href="@{/css}">css</a>  там ни чего нет.</p>
<p>Click <a th:href="@{/img}">img</a>  тут тоже.</p>
<p>Для тех кто в теме:</p>
<p>Click <a th:href="@{/home}">home</a>  если знаешь как.</p>
<!--<form th:action="@{/logout}" method="post">-->
    <!--<input type="submit" value="Sign Out"/>-->
<!--</form>-->
</body>
</html>